body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

/* h1要素のスタイル */

h1.page {
  font-size: 28px;
  margin-bottom: 20px;
}

h1.index {
  font-size: 3rem;
  text-align: center;
}

li {
  list-style-type: none;
}

/* h2要素のスタイル */
h2 {
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

/* a要素のスタイル */
a {
  display: block;
  font-size: 1.5rem;
  margin: 0 auto;
  width: 20rem;
  text-align: center;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
}

.space {
  height: 75px;
}

/* a要素のhover時のスタイル */
a:hover {
  background-color: black;
  color: white;
}

/* 戻るボタンのスタイル */
/* #back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

#back-to-top-button a {
  display: inline-block;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}

#back-to-top-button a:hover {
  background-color: #666;
} */

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="number"] {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 200px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #3e8e41;
}

input[type="number"][disabled] {
  background-color: #f2f2f2;
}
